@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');


html, body {
    scroll-behavior: smooth;
    background-color: rgba(226, 219, 219, 0.13);
}

body {
    line-height: 1;
    padding: 100px 50px;
    margin: 0 auto;
    height: 100%;
    border-top: 5px solid rgba(112, 11, 11, 0.51);
}


h1, h2 {
    margin: 10px 60px auto;
    font-size: 30px;
    padding-bottom: 4px;
    line-height: 1.2em;
    text-shadow: 1px 1px 2px rgb(194, 181, 181);
    color: #E07A6C;
    font-family: "Lucida Grande";
}


h1, h2, h3 {
    line-height: 1.5;
    letter-spacing: -0.020em;
}

#answer, #question {
    padding: 7px 10px;
    background-color: #eee8e8;
    resize: vertical;
    overflow: scroll;
    border: 1px solid rgba(157, 104, 86, 0.55);
    display: block;
    width: 100%;
    height: 50%;
    box-shadow: 7px 6px 13px 5px rgba(192, 177, 172, 0.55);
    border-radius: 5px;
}

#image-toolbar {
    margin-right: 30px;
    padding-right: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(112, 11, 11, 0.37);
    float: right;
    cursor: pointer;
}

.asked_questions_heading {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgba(50, 51, 122, 0.68);
    font-size: 1.75rem;
    line-height: 2.25rem;
}


.search button {
    padding: 5px;
    border-style: hidden;
    box-shadow: 1px 1px 1px 1px rgba(40, 14, 14, 0.06);
    border-radius: 20px;
    display: inline-block;
    margin: 0 auto;
    width: 8%;
    color: rgba(226, 219, 219, 0.97);
    background-color: rgba(50, 51, 122, 0.68) !important;
    font-family: Courier New;
}

.search button:hover {
    color: rgba(79, 6, 6, 0.9);
    background-color: rgba(147, 39, 60, 0.38) !important;
    border-radius: 20px;
    width: 8%;
    display: inline-block;
    margin: 0 auto;
}

.navbar-brand {
    color: #E07A6C;
    font-family: Chalkduster;
    font-weight: bolder;
    margin-top: 25px;

}

.navbar-brand:hover {
    color: rgb(215, 140, 140);
}

.toolbar {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-color: #5e4239;
    border-radius: 9px;
    overflow: hidden;
    background-color: rgba(239, 230, 226, 0.98);
    position: fixed;
    top: 0;
    width: 95%;
    box-shadow: 4px 4px 10px 3px rgba(65, 38, 38, 0.39);
    border: 1px solid rgba(141, 57, 57, 0.06);
    margin-top: 5px;
}

.button_sort {
    font-weight: bold;
    padding: 5px;
    border-style: hidden;
    color: rgba(79, 6, 6, 0.75);
    background-color: rgba(173, 134, 134, 0.45) !important;
    box-shadow: 1px 1px 1px 1px rgba(40, 14, 14, 0.06);
    border-radius: 20px;
    display: inline-block;
    margin: 0 auto;
    width: 6%;
}

.button_sort:hover {
    color: rgba(79, 6, 6, 0.9);
    background-color: rgba(147, 39, 60, 0.38) !important;
    border-radius: 20px;
    width: 6%;
    display: inline-block;
    margin: 0 auto;
}


#sort, #order {
    color: #734444;
    font-weight: bolder;

}

.latest_question_area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgba(248, 247, 246, 0.6);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(211, 191, 191, 0.23);


}
.some_area a {
    color: rgba(33, 37, 41, 0.76);
}

.some_area {
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 1px;
    font-size: larger;
    font-size: 15px;

}

.some_area:hover {
    background-color: rgba(227, 208, 201, 0.24);
    display: block;
    border-radius: 7px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 1ms;
    opacity: 0.8;
}

.see_all_questions a:hover {
    color: rgba(79, 6, 6, 0.9);
    background-color: rgba(147, 39, 60, 0.38) !important;
    border-radius: 20px;
    width: 15%;
    display: block;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", helvetica, arial, sans-serif;
    text-align: center;
}


.content {
    background-color: bisque;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Karla', sans-serif;
}

.content, .container {
    background-color: #e3d4d4;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    border: 1px solid rgba(59, 52, 52, 0.18);
    -webkit-font-smoothing: antialiased;
    padding: 20px 50px 20px 50px;
    box-shadow: 7px 6px 10px 5px rgba(185, 176, 190, 0.29);
}

.question {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px;
    margin: 10px;
    border: 1px solid rgba(147, 132, 132, 0.37);
    box-shadow: 7px 6px 13px 5px rgba(192, 177, 172, 0.55);
    border-radius: 5px;
}

.question_text {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px 15px 0 15px;
    margin: 10px;
    border: 1px solid rgba(147, 132, 132, 0.37);
    box-shadow: 7px 6px 13px 5px rgba(192, 177, 172, 0.55);
    border-radius: 5px;
    font-size: 25px;
}

.question-answer {
    padding: 3px;
    margin: 3px;
    color: #471818;
}

.comment {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px 15px 0 15px;
    margin: 10px;
    border: 1px solid rgba(147, 132, 132, 0.37);
    box-shadow: 7px 6px 13px 5px rgba(192, 177, 172, 0.55);
    border-radius: 5px;
    display: inline-block;
}
.btn-primary {
    background-color: rgba(50, 51, 122, 0.68) !important;
    border-color: rgba(50, 51, 122, 0.37) !important;
    box-shadow: 1px 1px 2px 1px rgba(51, 56, 53, 0.24);
}


.btn-primary:hover {
    background-color: rgba(50, 51, 122, 0.51) !important;
    border-color: rgba(50, 51, 122, 0.37) !important;
}

.btn-danger {
    background-color: rgba(213, 54, 86, 0.65) !important;
    box-shadow: 1px 1px 2px 1px rgba(190, 85, 85, 0.42);
}

.btn-danger:hover {
    background-color: rgba(213, 54, 86, 1) !important;
}

.btn-secondary {
    background-color: #6e2626 !important;
}

.btn-secondary:hover {
    background-color: #471818 !important;
}

.btn-back {
    background-color: rgba(157, 104, 86, 0.4) !important;
    border-color: rgba(155, 71, 42, 0.42) !important;
    box-shadow: 1px 1px 2px 1px rgba(190, 134, 134, 0.23);
}

.btn-back:hover {
    background-color: rgba(157, 104, 86, 0.6) !important;
    border-color: rgba(155, 71, 42, 0.6) !important;
}

a .btn-back {
    color: white;
!important;
}

.btn-info {
    background-color: rgba(190, 92, 92, 0.44) !important;
    border-color: rgba(175, 75, 75, 0.53) !important;
    box-shadow: 1px 1px 2px 1px rgba(112, 11, 11, 0.22);
}

.btn-info:hover {
    background-color: rgba(190, 92, 92, 1) !important;
    border-color: rgba(175, 75, 75, 1) !important;
}

.link {
    text-decoration: none;
    color: rgba(220, 20, 60, 0.55);
    font-weight: bolder;
}

.link:hover {
    color: #946eb9;
    font-weight: bolder;
}

.image {
    max-width: 100%;
}

.header {
    top: 100px;
    margin-top: 45px;
}

.votes {
    display: inline-block;
}

.views {
    display: inline-block;
    float: right;
}

.tag {
    display: inline-block;
    border: 1px solid rgba(25, 135, 84, 0.65);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    margin: 0 2px 0 2px;
    color: white;
    background-color: rgba(25, 135, 84, 0.8);
}

.tag:hover {
    background-color: #146c43;
    border-color: #13653f;
}

.delete-tag {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.search {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

label.btn {
    color: white !important;
}

label.btn:hover {
    color: white !important;
}

a.btn {
    color: white !important;
}

a.btn:hover {
    color: white !important;
}

.toolbar-element {
    float: right;
    text-align: center;
}

.registration {
    text-decoration: none;
    padding: 0 5px 0 5px;
    color: #32337A;
    font-family: Courier New;
}
.registration:hover {
    color: rgb(215, 140, 140);
}

a {
    text-decoration: none !important;
    font-weight: bold;

}

.accepted {
    background-color: rgba(172, 219, 152, 0.38);
}

table {
    font-family: Poppins, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.form {
    width: 100%;
    text-align: center;
}


.form form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    text-align: center;
    justify-content: center;
}

.form label {
    grid-column-start: 1;
}

.form input {
    grid-column-start: 2;
}

.form a {
    grid-column-start: 1;
}

.form button {
    grid-column-start: 2;
}

.sort {
    background-color: rgba(134, 94, 94, 0.29);
    border-radius: 10px !important;
}

.theme {
    text-align: center;
    display: block;;
}

.dropbtn {
    font-family: Courier New;
    border-style: hidden;
    box-shadow: 1px 1px 1px 1px rgba(40, 14, 14, 0.06);
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    margin: 0 auto;
    color: rgba(226, 219, 219, 0.97);
    background-color: rgba(50, 51, 122, 0.68) !important;
}

.dropbtn:hover {
    font-family: Courier New;
    box-shadow: 1px 1px 1px 1px rgba(40, 14, 14, 0.06);
    border-radius: 20px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    color: #E2B5B2 !important;
    border-radius: 20px;
    display: inline-block;
    margin: 0 auto;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #EFE7E3;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 10px;
}

.dropdown-content a {
    color: rgb(206, 165, 162);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    font-family: Courier New;
}

.dropdown-content a:hover {
    background-color: #e5dddc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #806d6d;;
}

.content-footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: darkgray;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 0.25rem;
    text-align: right;
}

.content-footer-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.content-footer-grid-child-left {
    grid-column-start: 1;
    text-align: left !important;
}

.content-footer-grid-child-right {
    grid-column-start: 2;
}

.content-footer p {
    margin-bottom: 0;
}

.answer-footer {
    display: inline-block;
    text-align: right;
    float: right;
}

.comments {
    text-align: right;
}

.bonus-table {
    --scale: 10;
    font-size: calc(var(--scale) * 1px);
}
