{% extends 'layout.html' %}

{% block title %}Add Answer to: {{ question['title'] }}{% endblock %}

{% block header %}{{ question['title'] }}{% endblock %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        <label for="answer">Your answer:</label>
        <br>
        <textarea id="answer" name="message" cols="60" rows="5">{% if answer %}
            {{ answer['message'] }} {% endif %}</textarea>
        <br><br>
        <label for="image" class="btn btn-info">{% if 'image' in answer %}Update image{% else %}Add
            image{% endif %}</label>
        <p id="file-name"></p>
        <br>
        <input type="file" id="image" name="image" accept="image/png, image/jpg" style="visibility:hidden;">
        {% if answer %}
            {% if answer['image'] %}
                <br>
                <label for="remove-image">Remove image</label>
                <input type="checkbox" id="remove-image" name="remove-image" value="remove">
            {% endif %}
        {% endif %}
        <br><br>
        <button type="submit" class="btn btn-primary">Post Answer</button>
        <a href="{{ url_for('questions', question_id=id) }}" class="btn btn-back">Back</a>
    </form>
{% endblock %}