
{% extends 'layout.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block header %}Add Question{% endblock %}
{% block body %}
    <form action="{{ url_for("ask_a_question") }}" method="post">
    <label for="question">Title</label><br>
    <textarea id="question" name="title" cols="60" rows="5"></textarea><br><br>
    <label for="question">Message</label><br>
    <textarea id="question" name="message" cols="60" rows="5"></textarea><br><br>
    <button class="btn btn-primary" type="submit">Post Question</button>
    </form>
{% endblock %}
</body>
</html>