{% extends 'layout.html' %}
{% block title %}Add Comment{% endblock %}
{% block header %}Add Comment  to:
    {% if question %}
        <p class="question-answer">{{ question['message'] }}</p>
    {% else %}
        <p class="question-answer">{{ answer['message'] }}</p>
    {% endif %}
{% endblock %}
{% block body %}
    <form method="post" enctype="multipart/form-data">
        <label for="answer">Your comment:</label>
        <br>
        <textarea id="answer" name="message" cols="60" rows="5"></textarea>
        <br><br>
        <br><br>
        <button type="submit" class="btn btn-primary">Post Comment</button>
        <a href="{{ url_for('questions', question_id=question['id']) }}" class="btn btn-secondary">Back</a>
    </form>
{% endblock %}


