{% extends 'layout.html' %}
{% block title  %}{% if question %}Edit{% else %}Add{% endif %} Question{% endblock %}
{% block header %}{% if question %}Edit{% else %}Add{% endif %} Question{% endblock %}
{% block body %}
    <form action="{% if question %}{{ url_for('update_question', question_id=question['id']) }}{% else %}{{ url_for('ask_a_question') }}{% endif %}"
          method="post" enctype="multipart/form-data">
        <label for="question">Title</label><br>
        <input id="question" name="title" type="text" value="{% if question %}{{ question['title'] }}{% endif %}">

        <br><br>
        <label for="question">Message</label><br>
        <textarea id="question" name="message" cols="60" rows="5">{% if question %}{{ question['message'] }}{% endif %}</textarea>

        <br><br>
        <label for="image" class="btn btn-info">{% if question['image'] %}Update image{% else %}Add image{% endif %}</label><br>
        <p id="file-name"></p>
        <input type="file" id="image" name="image" accept="image/png, image/jpg" style="visibility:hidden;">

        {% if question['image'] %}
        <br>
        <label for="remove-image">Remove image</label>
        <input type="checkbox" id="remove-image" name="remove-image" value="remove">
        {% endif %}

        <br><br>
        <button class="btn btn-primary" type="submit">{% if question %}Save{% else %}Post Question{% endif %}</button>
        <a href="{% if question %}{{ url_for('questions', question_id=question['id']) }}{% else %}{{ url_for('list_questions') }}{% endif %}"
           class="btn btn-back">Back</a>
    </form>
{% endblock %}
