{% extends 'layout.html' %}
{% block title %}Add Question{% endblock %}
{% block header %}Add Question{% endblock %}
{% block body %}
    <form action="{{ url_for('ask_a_question') }}" method="post">
    <label for="question">Title</label><br>
    <input id="question" name="title" type="text"><br><br>
    <label for="question">Message</label><br>
    <textarea id="question" name="message" cols="60" rows="5"></textarea><br><br>
    <button class="btn btn-primary" type="submit">Post Question</button>
        <a href="{{ url_for('list') }}" class="btn btn-secondary">Back</a>
    </form>
{% endblock %}
