{% extends 'layout.html' %}
{% block title %}Add Answer{% endblock %}
{% block header %}Add Answer{% endblock %}
{% block body %}
    <form method="post" enctype="multipart/form-data">
        <label for="answer">Answer</label><br>
        <textarea id="answer" name="message" cols="60" rows="5"></textarea><br><br>
        <label for="image" class="btn btn-info">Add image</label><br>
        <input type="file" id="image" name="image" accept="image/png, image/jpg" style="visibility:hidden;"><br><br>
        <button type="submit" class="btn btn-primary">Post Answer</button>
        <a href="/question/{{ id }}" class="btn btn-secondary">Back</a>
    </form>
{% endblock %}