{% extends 'layout.html' %}
{% block title %}Questions{% endblock %}
{% block header %}Questions{% endblock %}
{% block body %}
    <form method="get">
        <label for="sort">Sort By:</label>
        <select id="sort" name="order_by">
            <option value="title">title</option>
            <option value="time">time added</option>
            <option value="message">message</option>
            <option value="views">views</option>
            <option value="votes">votes</option>
        </select>
        <label for="order">Order:</label>
        <select id="order" name="order_direction">
            <option value="asc">ascending</option>
            <option value="desc">descending</option>
        </select>
        <button type="submit" class="button_sort">Sort</button>
    </form>

    <div class="question-list list-group list-group-flush">
        {% for question in questions %}
            <div class="question">
            <h3 class="question-header"><a class='link' href="{{ url_for('questions', question_id=question['id']) }}">{{ question['title'] }}</a>
            </h3>

            <br>
            {% if question['image'] %}
                <img src="{{ url_for('send_question_image', question_id=question['id']) }}" alt="image"
                     height="200">
            {% endif %}
            <br><br>

            <form method="post" action="{{ url_for('question_vote_up', question_id=question['id']) }}" style="display: inline-block">
                <button type="submit" class="btn btn-primary">Vote +</button>
            </form>
            <form method="post" action="{{ url_for('question_vote_down', question_id=question['id']) }}" style="display: inline-block">
                <button type="submit" class="btn btn-danger">Vote -</button>
            </form>

            <br>
            <p class="votes">Votes: {{ question['vote_number'] }}</p>
            <p class="views">Views: {{ question['view_number'] }}</p>
            </div>
        {% endfor %}
    </div>
    <div>
        <a class="btn btn-primary" href="{{ url_for('write_a_question') }}">Add Question</a>
    </div>
{% endblock %}