{% extends 'layout.html' %}
{% block title %}Questions{% endblock %}
{% block header %}Questions{% endblock %}
{% block body %}
    <form method="get">
        <label for="sort">Sort By:</label>
        <select id="sort" name="order_by">
            <option value="title" selected>title</option>
            <option value="time">time added</option>
            <option value="message">message</option>
            <option value="views">views</option>
            <option value="votes">votes</option>
        </select>
        <label for="order">Order:</label>
        <select id="order" name="order_direction">
            <option value="asc">ascending</option>
            <option value="desc">descending</option>
        </select>
        <button type="submit" class="button_sort">Sort</button>
    </form>
    <div class="question-list list-group list-group-flush">
        {% for row in questions %}
            <div class="question">
                {% for label, content in row.items() %}
                    {% if label == 'title' %}
                        <h3 class="question-header"><a class='link' href="/question/{{ row['id'] }}">{{ content }}</a></h3>
                        <form method="post" action="/question/{{ row['id'] }}/vote-up" style="display: inline-block">
                            <button type="submit" class="btn btn-primary">👍</button>
                        </form>
                        <form method="post" action="/question/{{ row['id'] }}/vote-down" style="display: inline-block">
                            <button type="submit" class="btn btn-danger">👎</button>
                        </form>
                        <p>Votes: {{ row['vote_number'] }}</p>
                    {% endif %}
                {% endfor %}
                <br>
                {% if row['image'] %}
                <img src="{{ url_for('send_image', filename=row['image'].rsplit('/', 1)[1]) }}" alt="image" height="500">
                {%  endif %}
                <br><br>
            </div>

        {% endfor %}
    </div>
    <div>
    <a class="btn btn-primary" href="{{ url_for('ask_a_question') }}">Add Question</a>
    </div>
{% endblock %}