{% extends 'layout.html' %}
{% block title %}{{ question['title'] }}{% endblock %}
{% block header %}{{ question['title'] }}{% endblock %}
{% block body %}
    <div>
        <br><br>
        <div class="question_text">
            <p>{{ question['message'] }} </p>
            <div>
                <br>
                {% if question['image'] %}
                    <img src="{{ url_for('send_question_image', question_id=question['id']) }}" alt="image"
                         class="image">
                {% endif %}
            </div>
            <form method="post" action="{{ url_for('question_vote_up', question_id=question['id']) }}"
                  style="display: inline-block">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-thumbs-up"></i></button>
            </form>
            <form method="post" action="{{ url_for('question_vote_down', question_id=question['id']) }}"
                  style="display: inline-block">
                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-thumbs-down"></i></button>
            </form>
            <div style="float: right; display: inline-block;">
                {% if logged_in and question['user_id'] == user['id'] %}
                    <a href="{{ url_for('edit_question', question_id=question['id']) }}" class="btn btn-success"
                       style="text-align: right">Edit</a>
                    <form method="post" action="{{ url_for('question_delete', question_id=question['id']) }}"
                          style="display: inline-block;">
                        <button type="submit" style="margin-left: 0;" class="btn btn-secondary">Delete</button>
                    </form>
                {% endif %}
                {% if logged_in %}
                    <a href="{{ url_for('add_comment_to_question_get', question_id=question['id']) }}"
                       class="btn btn-secondary">Comment on this question</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="btn btn-secondary">Comment on this question</a>
                {% endif %}
            </div>
            <div class="content-footer content-footer-grid">
                <p class="content-footer-grid-child-left">Views: {{ question['view_number'] }} &nbsp;&nbsp;&nbsp;&nbsp;Votes: {{ question['vote_number'] }}</p>
                <p class="content-footer-grid-child-right">
                    Author: <a
                        href="{{ url_for('user_page', user_id=question['user_id']) }}">{{ get_user(question['user_id'])['username'] }}</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;Date added: {{ question['submission_time'] }}
                </p>
            </div>
        </div>
        <div>
        <br>
        <p style="display: inline-block;">Tags:</p>
        {% for tag in tags %}
            <p class="tag">{{ tag }} {% if logged_in and question['user_id'] == user['id'] %}<a
                    href="{{ url_for('delete_tag_from_question', question_id=question['id'], tag_id=all_tags[tag]['id']) }}"
                    class="delete-tag">x</a>{% endif %}</p>
        {% endfor %}
        {% if logged_in and question['user_id'] == user['id'] %}
            <a href="{{ url_for('add_tag_to_question', question_id=question['id']) }}" class="btn btn-success">Add
                tag</a>
        {% endif %}
    </div>

    </div>

    <div class="comments">
        {% for comment in comments %}

            {% if comment['question_id'] == question['id'] and comment['answer_id'] is none %}
                {% if logged_in and comment['user_id'] == user['id'] %}
                    <a href="{{ url_for('edit_comments', comment_id=comment['id']) }}" class="btn btn-success"
                       style="text-align: right">Edit</a>
                    <a href="{{ url_for('comment_delete', comment_id=comment['id']) }}"
                       class="btn btn-secondary"><i class="fa-solid fa-trash"></i></a>
                {% endif %}
                <div class="comment">{{ comment['message'] }}<br>
                    <p class="content-footer">The comment was edited {{ comment['edited_count'] }} times &nbsp;&nbsp;&nbsp;&nbsp;<a
                            href="{{ url_for('user_page', user_id=comment['user_id']) }}">{{ get_user(comment['user_id'])['username'] }}</a>
                    </p></div>
                <br>
            {% endif %}
        {% endfor %}
    </div>




    <div class="list-group list-group-flush">
        {% for answer in answers %}

            <div class="question {% if question['accepted_answer'] == answer['id'] %}accepted{% endif %}">
                <p>{{ answer['message'] }}</p>
                <br><br>
                {% if answer['image'] %}
                    <img src="{{ url_for('send_answer_image', answer_id=answer['id']) }}" alt="image"
                         class="image">
                {% endif %}
                <br><br>
                <form method="post" action="{{ url_for('answer_vote_up', answer_id=answer['id']) }}"
                      style="display: inline-block">
                    {% if logged_in %}
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-thumbs-up"></i></button>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="btn btn-primary"><i
                                class="fa-solid fa-thumbs-up"></i></a>
                    {% endif %}
                </form>

                <form method="post" action="{{ url_for('answer_vote_down', answer_id=answer['id']) }}"
                      style="display: inline-block">
                    {% if logged_in %}
                        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-thumbs-down"></i></button>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="btn btn-danger"><i class="fa-solid fa-thumbs-down"></i></a>
                    {% endif %}
                </form>
                <div class="answer-footer">

                    {% if logged_in and answer['user_id'] == user['id'] %}
                        <a class="btn btn-success"
                           href="{{ url_for('update_answer', answer_id=answer['id']) }}">Edit</a>
                    {% endif %}
                    <form method="post" action="{{ url_for('answer_delete', answer_id=answer['id']) }}"
                          style="display: inline-block">
                        {% if logged_in and answer['user_id'] == user['id'] %}
                            <button type="submit" class="btn btn-secondary">Delete</button>
                        {% endif %}
                        {% if logged_in %}
                            <a href="{{ url_for('add_comment_to_answer_get', answer_id=answer['id']) }}"
                               class="btn btn-secondary">Comment on this answer</a>
                        {% else %}
                            <a href="{{ url_for('login') }}" class="btn btn-secondary">Comment on this answer</a>
                        {% endif %}
                    </form>
                    {% if question['user_id'] == user['id'] %}
                        <form method="post"
                              action="{{ url_for('accept_answer', question_id=question['id'], answer_id=answer['id']) }}"
                              style="display: inline-block">
                            {% if question['accepted_answer'] is none %}
                                <button type="submit" class="btn btn-primary">Accept this answer</button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
                <div class="content-footer content-footer-grid">
                    <p class="content-footer-grid-child-left">Votes: {{ answer['vote_number'] }}</p>
                    <p class="content-footer-grid-child-right">
                        Author: <a
                            href="{{ url_for('user_page', user_id=answer['user_id']) }}">{{ get_user(answer['user_id'])['username'] }}</a>
                    </p>
                </div>
            </div>
            <div class="comments">
                {% for comment in comments %}
                    {% if comment['answer_id'] == answer['id'] %}

                        {% if logged_in and comment['user_id'] == user['id'] %}
                            <a href="{{ url_for('edit_comments', comment_id=comment['id']) }}" class="btn btn-success"
                               style="text-align: right">Edit</a>
                            <a href="{{ url_for('comment_delete', comment_id=comment['id']) }}"
                               class="btn btn-secondary"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}

                        <div class="comment">{{ comment['message'] }}<br>
                            <p class="content-footer">The comment was edited {{ comment['edited_count'] }} times &nbsp;&nbsp;&nbsp;&nbsp;<a
                                    href="{{ url_for('user_page', user_id=comment['user_id']) }}">{{ get_user(comment['user_id'])['username'] }}</a>
                            </p>
                        </div>


                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="add-answer-button">
        <a href="{{ url_for('post_an_answer', question_id=question['id']) }}" class="btn btn-primary">Add Answer</a>
    </div>

    <br>
    <div>
        <a href="{{ url_for('list_questions') }}" class="btn btn-back">Back</a>
    </div>


{% endblock %}