{% extends 'layout.html' %}
{% block title %}{{ question['title'] }}{% endblock %}
{% block header %}{{ question['title'] }}{% endblock %}
{% block body %}
    <div>
        <br><br>
        {{ question['message'] }}
        <br><br>
        <div style="text-align: right">
            <a href="/question/{{ question['id'] }}/edit" class="btn btn-success" style="text-align: right">Edit</a>
            <form method="post" action="/question/{{ question['id'] }}/delete" style="display: inline-block">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>

    <div class="list-group list-group-flush">
        {% for answer in answers %}
            <div class="question">
                {{ answer['message'] }}
                <br>
                <form method="post" action="/answer/{{ answer['id'] }}/vote-up" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">👍</button>
                </form>
                <form method="post" action="/answer/{{ answer['id'] }}/vote-down" style="display: inline-block">
                    <button type="submit" class="btn btn-danger">👎</button>
                </form>
                <p>Votes: {{ answer['vote_number'] }}</p>
                <form method="post" action="/answer/{{ answer['id'] }}/delete" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>

            </div>
        {% endfor %}
    </div>
    <div>
        <a href="/question/{{ question['id'] }}/new-answer" class="btn btn-primary">Add Answer</a>
        <a href="{{ url_for('list') }}" class="btn btn-secondary">Back</a>
    </div>


{% endblock %}