{% extends 'layout.html' %}
{% block title %}Users{% endblock %}
{% block header %}LIST OF ALL ASK-MATE USERS{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Username</th>
            <th>Registration date</th>
            <th>Number of asked questions</th>
            <th>Number of answers</th>
            <th>Number of comments</th>
            <th>Reputation points</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><a href="/user/{{ user['id'] }}">{{ user['username'] }}</a></td>
                <td>{{ user['registration_date'] }}</td>
                <td>{{ user['number_of_questions'] }}</td>
                <td>{{ user['number_of_answers'] }}</td>
                <td>{{ user['number_of_comments'] }}</td>
                <td>{{ user['reputation'] }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <div>
        <a href="{{ url_for('list_questions') }}" class="btn btn-back">Back</a>
    </div>
{% endblock %}